@model IEnumerable<AppData.Models.CartDetail>

@{
    ViewData["Title"] = "Order";
    Layout = "~/Areas/Customer/Views/Shared/_Layout1.cshtml";
    var image = ViewBag.Image;
    var namefood = ViewBag.Name;
}

<div style="margin-top:100px;">
    <table class="table" style="color:white;">
        <thead>
            <tr>
             @*   <th>
                    @Html.DisplayNameFor(model => model.IDCartDetail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IDCart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IDsetkey)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IDFood)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.NameFood)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quatity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    @{
                        double Total = 0;
                        Total = (double)item.Price * item.Quatity;
                    }
                    @*<td>
                        @Html.DisplayFor(modelItem => item.IDCartDetail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDCart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDsetkey)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDFood)
                    </td>*@
                     <td>
                        @Html.DisplayFor(modelItem => item.NameFood)
                    </td>
                    <td>
                        <img src="~/img/Combo/@item.Image?v=Kl_dqr9NVtnMdsM2MUg4qthUnWZm5T1fCEimBPWDNgM" style="height:150px; width:150px;">
                    </td>
                    <td>
                        <form action="~/Customer/CustomerAccount/UpdateAmount" UpdateAmount method="post">
                            @if (ViewBag.Error != null)
                            {
                                <p class="alert alert-danger">@ViewBag.Error</p>
                            }
                            <input type="hidden" name="IDCartDetail" value="@item.IDCartDetail" />
                            <input type="number" name="Quatity" value="@item.Quatity" />
                            <button type="submit" class="btn btn-primary">Cập nhật</button>
                        </form>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <th>
                        <p>@Total</p>
                    </th>
                    <th style="text-align:center;">
                        <a href="@Url.Action("RemoveItem","CustomerAccount",new { IDCartDetail = item.IDCartDetail})" onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này?');" class="btn btn-danger btn-sm">Xóa</a>
                    </th>
                </tr>
                <tr>
                </tr>
            }
        </tbody>
    </table>
</div>


