@model AppData.Models.Drinks

@{
    ViewData["Title"] = "AddDrink";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}

<div style="margin-top: 100px;">
    <h1>AddDrink</h1>

    <h4>Drinks</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form action="~/Admin/Manage/AddDrink" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="display:none;">
                    <label for="IDDrink">IDDrink</label>
                    @Html.TextBoxFor(m => m.IDDrink, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.IDDrink, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="NameDrink">NameDrink</label>
                    @Html.TextBoxFor(m => m.NameDrink, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.NameDrink, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="Image">Image</label>
                    @Html.TextBoxFor(model => model.Image, null, new { type = "file", @class = "form-control" } )
                    <br />
                    @*<img src="~/images/@Model.Image" asp-append-version="true" width="200px" height="200px">
                    @Html.Hidden("oldimage", @Model.Image)*@
                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                  
               @*     @Html.TextBoxFor(m => m.Image, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.Image, "", new { @class = "text-danger" })*@
                </div>
                <div class="form-group">
                    <label for="Price">Price</label>
                    @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.Price, "", new { @class = "text-danger" })
                   
                </div>
                <div class="form-group">
                    <label for="Mass">Mass</label>
                    @Html.TextBoxFor(m => m.Mass, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.Mass, "", new { @class = "text-danger" })
                  
                </div>
               @* <div class="form-group">
                    <label for="Status">Status</label>
                    @Html.TextBoxFor(m => m.Status, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.Status, "", new { @class = "text-danger" })
                </div>*@
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</div>

