@model IEnumerable<AppData.Models.Payments>

@{
    ViewData["Title"] = "GetAllPayment";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}

<div style="margin-top:100px;">
    <h1>GetAllPayment</h1>

    <p>
        <a href="~/Admin/Voucher/AddPayment">Create New</a>
    </p>
    <table class="table" style="color:white;">
        <thead>
            <tr>
                <th style="display:none;">
                    @Html.DisplayNameFor(model => model.IDPayment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Payment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bankaccount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BankAccountNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BankName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageQR)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="display:none;">
                        @Html.DisplayFor(modelItem => item.IDPayment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Payment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bankaccount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BankAccountNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BankName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImageQR)
                    </td>
                    <td>
                        @if(item.Status == 1)
                        {
                            <p>Hoạt động</p>
                        } else if(item.Status == 0)
                        {
                            <p>Không hoạt động</p>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "UpdatePayment", new { IDPayment=item.IDPayment }) |
                        @Html.ActionLink("Delete", "Deletepayment", new { IDPayment=item.IDPayment })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

