@model IEnumerable<AppData.Models.CartDetail>

@{
    ViewData["Title"] = "Order";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
    var image = ViewBag.Image;
    var name = ViewBag.Name;
}

<div style="margin-top:100px;">
    <table class="table" style="color:white;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IDCartDetail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IDCart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IDsetkey)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IDFood)
                </th>
                <th>
                    <p>Name Food</p>
                </th>
                <th>
                    <p>Image</p>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quatity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDCartDetail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDCart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDsetkey)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDFood)
                    </td>
                    <td>
                        <p>@name</p>
                    </td>
                    <td>
                        <img src="~/img/Combo/@image" style="height:150px ; width:150px;">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quatity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


