@model AppData.Models.Bill

@{
    ViewData["Title"] = "UpdateBill";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}

<div style="margin-top:100px;">
    <h4>Bill</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="UpdateBill">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="display:none;">
                    <label for="IDBill">IDBill</label>
                    @Html.TextBoxFor(m => m.IDBill, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.IDBill, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label asp-for="IDVoucher" class="control-label"></label>
                    <p>@Model.IDVoucher</p>
                    <span asp-validation-for="IDVoucher" class="text-danger"></span>
                </div>
              @*  <div class="form-group">
                    <label asp-for="IDCustomer" class="control-label"></label>
                   
                    <span asp-validation-for="IDCustomer" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <label asp-for="IDPayment" class="control-label">Payment</label>
                    <p>@Model.IDPayment</p>
                    <span asp-validation-for="IDPayment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InvoiceCode" class="control-label">InvoiceCode</label>
                    <p>@Model.InvoiceCode</p>
                    <span asp-validation-for="InvoiceCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Quatity" class="control-label">Quatity</label>
                    <p>@Model.Quatity</p>
                    <span asp-validation-for="Quatity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NameReceiver" class="control-label">NameReceiver</label>
                    @Html.TextBoxFor(m => m.NameReceiver, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.NameReceiver, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label asp-for="PhoneReceiver" class="control-label">PhoneReceiver</label>
                    @Html.TextBoxFor(m => m.PhoneReceiver, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.PhoneReceiver, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label asp-for="CityReceiver" class="control-label">CityReceiver</label>
                    @Html.TextBoxFor(m => m.CityReceiver, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.CityReceiver, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label asp-for="DistrictReceiver" class="control-label">DistrictReceiver</label>
                    @Html.TextBoxFor(m => m.DistrictReceiver, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.DistrictReceiver, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label asp-for="TotalAmount" class="control-label">TotalAmount</label>
                    <p>@Model.TotalAmount</p>
                    <span asp-validation-for="TotalAmount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TransportFee" class="control-label">TransportFee</label>
                    <p>@Model.TransportFee</p>
                    <span asp-validation-for="TransportFee" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TotalPayment" class="control-label">TotalPayment</label>
                    <p>@Model.TotalPayment</p>
                    <span asp-validation-for="TotalPayment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreateBill" class="control-label">CreateBill</label>
                   
                    <p>@Model.CreateBill</p>
                  
                </div>
@*                <div class="form-group">
                    <label asp-for="OrderDate" class="control-label"></label>
                    <input asp-for="OrderDate" class="form-control" />
                    <p>@Model.CreateBill</p>
                    <span asp-validation-for="OrderDate" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <label asp-for="DeliveryDate" class="control-label">DeliveryDate</label>
                    <p>@Model.DeliveryDate</p>
                    <span asp-validation-for="DeliveryDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateOfPayment" class="control-label">DateOfPayment</label>
                    <p>@Model.DateOfPayment</p>
                    <span asp-validation-for="DateOfPayment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Note" class="control-label">Note</label>
                    @Html.TextAreaFor( m => m.Note ,  new { @class = "form-control" });
                    <span asp-validation-for="Note" class="text-danger"></span>
                </div>
@*                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <input asp-for="Status" class="form-control" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</div>


